.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 250px;

  &__logo {
    width: 274px;
    height: 54px;
    flex-grow: 0.5;
  }

  &__download {
    width: 192px;
    height: 52px;
    background-color: #FF6300;
    border-radius: 5px;

    font-size: 21px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    color: #fff;

    &--text {
      margin-top: 10px;
    }
  }
}